doctype
html(ng-app="app")
  head
    meta(name="theme-color" content="#3971A2")
    link(rel="stylesheet" href="/assets/css/prototype.css")
    link(rel="stylesheet" href="/assets/css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet" type="text/css")
  body.sc-system(ng-controller="IndexCtrl" ng-class="{'overflow-hidden-menu':!collapseMenu}")

    !=yield

    script(src="/assets/js/modernizr.js")
    script(src="/assets/js/prototype.js")
    script(src="/assets/js/menu/menu.js")
    script(src="/assets/js/scroll.js")
    script(src="/assets/js/script.js")
