section#main-page
  section#header-bar.flex.align-items-center
      .menu-action.flex
        .sc-p-lg.sc-cursor-pointer(ng-click="collapseMenu = !collapseMenu")
          .menu-icon(ng-class="{'back':!collapseMenu}")
            span
            span
            span
      .logo
        img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")
      .actions.flex.sc-p-r-md
        .sc-p-md.sc-cursor-pointer.actions-icons(style="position:relative")
          span.sc-badge.sc-badge-fixed.sc-bg-red(style="top:-.2em;right:-.2em") 5
          i.sc-icon.sc-icon-sino
        .sc-p-md.sc-cursor-pointer.flex.align-items-center.actions-icons
          i.sc-icon.sc-icon-comentarios
          span.sc-p-l-xs.hidden-xs Ajuda

  section#main.flex.sc-bg-gray-lighter
    section#side-bar(ng-class="{'collapse':collapseMenu}")
      #side-bar-content.scrollbar.sc-stop-scroll
        #perfil.flex.flex-wrap.align-items-center
          .photo.flex
            div(style="background-image: url('https://lh3.googleusercontent.com/-P4z0NrvIxfU/AAAAAAAAAAI/AAAAAAAAAAA/UwW4pwh2mBU/s96-c-mo/photo.jpg')")
          .info
            .name Diego Henrique
            .email dev3.seucondominio@gmail.com
          .actions.flex
            a(href="#") Editar Perfil
            a(href="#") Deslogar

        #condominio.flex.flex-wrap.align-items-center
          .selected.flex.sc-cursor-pointer(ng-click="cond.dropdown.toggle()")
            .logo.flex
              div(style="background-image: url('https://scproduction.s3.amazonaws.com/paperclip/gerenciar/cd/pessoas_juridicas/logos/000/000/168/mp.png?1427300528')")
            .name.flex.align-items-center
              span {{cond.ativo.name}}
              i.sc-icon.sc-icon-seta-7-direita(ng-class="{'sc-rotate-90': cond.dropdown.opened}")
          .list.ng-animation-slider(ng-show="cond.dropdown.opened")
            .search
              input(ng-model="cond.q" placeholder="Pesquisar...")
              i.sc-icon.sc-icon-lupa-2
            ul.scrollbar.sc-stop-scroll
              li.sc-cursor-pointer(ng-repeat="item in cond.lista | filter:cond.q" ng-click="cond.setCondominio(item)") {{item.name}}

        #side-menu
          ul
            li(ng-repeat="item in menu")
              a(ng-href="{{item.link}}" ng-if="!item.submenu.length" ng-class="{'active':item.active}").flex.align-items-center
                i.sc-icon.icon-menu(ng-class="item.icone")
                span {{item.nome}}
              .sc-cursor-pointer.flex.align-items-center(ng-click="toggleMenu(item)" ng-if="item.submenu.length" ng-class="{'opened': item.open, 'active': item.active}")
                i.sc-icon.icon-menu(ng-class="item.icone")
                span {{item.nome}}
                i.sc-icon.sc-icon-seta-7-direita.icon-submenu( ng-class="{'sc-rotate-90': item.open}")
              ul.ng-animation-slider(ng-show="item.open" ng-if="item.submenu.length" ng-class="{'opened': item.open}")
                li(ng-repeat="subitem in item.submenu")
                  a(ng-href="{{subitem.link}}" ng-class="{'active':subitem.active}").flex.align-items-center
                    i.sc-icon.sc-icon-seta-7-direita
                    span {{subitem.nome}}

    section#main-content
      section#top-bar
        #top-bar-content.sc-p-v-md.sc-p-h-lg.sc-bg-gray-lighter
          .left
            button.sc-btn.sc-btn-blue.sc-btn-awesomeness(type="button")
              .sc-btn-icon
                i.sc-icon.sc-icon-mais-1
              .sc-btn-text.hidden-xs.hidden-sm Cadastrar Novo
          .col-xs-10.col-sm-5.col-md-3.col-lg-3.sc-p-r-none
            form
              .sc-input-group
                input.sc-input-default(type="text")
                label
                  button(type="submit").sc-btn.sc-btn-blue
                    i.sc-icon.sc-icon-lupa-2

      section#breadcrumb
        .sc-p-h-xl.sc-p-b-md.sc-bg-gray-lighter.sc-text-gray.sc-border-b-gray-light-solid-md.sc-text-sm
          a(ng-href="/dashboard") Início
          |  / Financeiro / Algum módulo financeiro

      ul.sc-accordion
        li(ng-repeat="i in [1,2,3,4,5,6,7,8]")
          .sc-accordion-head.sc-text-blue(ng-click="acc.opened = !acc.opened")
            .sc-accordion-icon-col.sc-divider.align-xs-center
              i.sc-icon.sc-icon-seta-11-direita.sc-transition
            .sc-accordion-elastic-col.title Default title {{i}}
              span.description Default description
          .sc-accordion-body.ng-animation-slider(ng-show="acc.opened")
            .sc-accordion-toolbar
                button.sc-btn.sc-btn-clean.pull-left
                  i.sc-icon-fw.sc-icon.sc-icon-seta-4-esquerda
                button.sc-btn.sc-btn-clean.sc-btn-boxed
                  i.sc-icon.sc-icon-fw.sc-icon-lapis
            p.sc-accordion-element Lorem ipsum dolor sit amet...

      div(ng-repeat="i in [1,2,3,4]")
        .sc-p-xxxl Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat augue odio. Nullam ultrices augue a leo vulputate imperdiet vitae viverra urna. Pellentesque blandit turpis luctus mauris maximus, non congue libero fermentum. Morbi consectetur mi in lectus bibendum porta. Sed ultrices, mauris et venenatis egestas, odio felis pulvinar odio, nec ullamcorper nulla felis eget sem. Suspendisse efficitur turpis at mauris venenatis, quis laoreet nisi tempus. Duis consectetur massa nec urna aliquam sodales. Pellentesque eleifend consectetur pharetra. Nulla eget mi vulputate, feugiat urna ac, rhoncus erat. Sed eu neque nec magna auctor malesuada vitae eu purus. Morbi scelerisque elit ac felis porttitor, id hendrerit velit commodo. Quisque maximus dictum elit, nec tincidunt neque pulvinar eu.
        .sc-p-xxxl Integer ac vehicula eros. Duis posuere, ex non laoreet molestie, lorem magna mattis nibh, vel eleifend justo velit sit amet nulla. Suspendisse sed diam auctor, luctus ipsum ac, pretium sapien. Donec gravida tempus fringilla. Sed consectetur faucibus mauris, id molestie justo. Mauris sit amet erat est. Vestibulum et faucibus nulla. Sed cursus enim sit amet iaculis ornare. Suspendisse eu neque eu ex placerat pellentesque vitae in magna. Aenean sollicitudin scelerisque justo, a interdum nibh pulvinar nec. Mauris id pretium arcu. Ut sed ullamcorper arcu, sit amet convallis lectus. Curabitur a varius nisi. Maecenas quis est at diam rhoncus tempor.
        .sc-p-xxxl Donec semper vestibulum purus at volutpat. Suspendisse venenatis ut sapien convallis mollis. Aliquam commodo rhoncus blandit. In quam mauris, finibus bibendum augue a, porta volutpat tortor. Etiam consectetur arcu dolor, sit amet lacinia dui aliquam non. Praesent lacinia ipsum vel scelerisque pulvinar. Mauris laoreet pharetra nisi nec accumsan.
        .sc-p-xxxl Morbi rutrum lacus ut velit faucibus hendrerit. Quisque consequat, erat eget convallis rutrum, mauris ligula blandit lectus, non pretium ligula velit ac libero. Vivamus non ullamcorper libero. Praesent sollicitudin ligula orci, ac semper turpis accumsan eget. In commodo nunc mi. Duis lorem nisl, tincidunt vitae venenatis vitae, elementum in nulla. Integer id odio a lorem mollis placerat. In sed pellentesque lorem. Nam tincidunt cursus tellus et tristique. Suspendisse volutpat mauris eget dui ornare, eu consectetur lorem efficitur. Cras finibus egestas nulla, vitae facilisis magna lobortis ut. Aliquam arcu sem, tempus eget enim nec, imperdiet tempor metus. Curabitur a tortor sed diam condimentum volutpat. Curabitur vitae pretium risus, ut lacinia ex. Aliquam eget velit et ligula tempus luctus quis ac sem.
        .sc-p-xxxl Maecenas et turpis vitae est interdum pulvinar. Donec sed risus ut odio efficitur blandit a sed ligula. Aliquam efficitur convallis varius. Sed imperdiet consequat tortor a viverra. Ut quis magna sit amet sem eleifend mollis sit amet eget leo. Nullam ultricies diam non libero congue porta efficitur sit amet sem. Donec sed aliquet est, interdum lobortis lacus. Etiam ut consequat neque. Etiam venenatis, risus ac lacinia placerat, felis tortor commodo mi, et eleifend erat sapien vitae justo.

    .overlay-menu(ng-show="!collapseMenu" ng-click="collapseMenu = !collapseMenu")
