form(ng-controller="Financeiro::PrevisaoOrcamentaria::FormMensalCtrl" ng-init="init(previsaoContas)").sc-p-lg
  .sc-fieldset
    .left
      i.sc-icon.sc-icon-arquivo-2.sc-text-blue
      b.sc-text-md  Composição Mensal de Previsão para
        span(style="text-transform:capitalize")  {{ nomeMesAno[previsaoContas.mes-1] }}
      button(type="button" ng-click="addPrevisaoConta()").sc-btn.sc-btn-green.sc-btn-thin.sc-text-sm.sc-m-l-xl Adicionar
    .clear

    ul.sc-p-t-lg
      li(ng-repeat="item in form.plano_contas").sc-p-v-sm
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.sc-p-v-lg
          label
            .sc-label Plano de contas
            select(ng-model="item.plano_conta_id" ng-options="value.id as value.nome for value in planoContasList" style="width:100%").sc-input-default

        .col-xs-10.col-sm-4.col-md-4.col-lg-3.sc-p-v-lg
          label
            .sc-label Valor
            input(type="text" ng-model="item.valor" sc-currency-input="").sc-input-default.sc-input-block
        .left.sc-m-t-lg
          div(ng-click="deletePrevisaoConta(item)" ng-class="{ 'sc-text-white sc-bg-red': item._destroy }").sc-badge-icon.sc-m-t-xxl.sc-bg-hover-red.sc-text-lg.sc-text-hover-white.sc-text-red.sc-border-radius-full.sc-cursor-pointer
            i(ng-if='!item._destroy').sc-icon.sc-icon-lixeira-1
            i(ng-if='item._destroy').sc-icon.sc-icon-seta-9-esquerda
        .clear
    .clear

  .right.sc-p-r-md
    button(type="button" ng-click="formularioMensal.close()").sc-btn.sc-btn-red.sc-m-r-xl Cancelar
    button(type="submit").sc-btn.sc-btn-blue Salvar
  .clear

  //- pre {{form|json}}
  //- pre {{meses|json}}
