div(ng-repeat="planoContas in previsaoContas.plano_contas track by $index" style="border-bottom: 1px solid #e0e2e3").sc-bg-gray-lighter.sc-p-lg.sc-text-blue
  .col-xs-6 {{lacucaracha[planoContas.plano_conta_id]}}
  .col-xs-6.align-right {{ planoContas.valor | currency }}
  .clear
