section#top-menu.sc-p-v-sm.sc-p-h-xl.sc-bg-blue
  img(src="https://www.seucondominio.com.br/assets/institucional/logo-mobile-c07a4de0cd57b02cf5eaffefcda8d48e.png")

section#top-bar
  #top-bar-content.sc-p-v-xxl.sc-p-h-xl.sc-bg-gray-lighter Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar Top Bar

section#conteudo
  .sc-p-xxxl Conteúdo 1
  .sc-p-xxxl Conteúdo 2
  .sc-p-xxxl Conteúdo 3
  .sc-p-xxxl Conteúdo 4
  .sc-p-xxxl Conteúdo 1
  .sc-p-xxxl Conteúdo 2
  .sc-p-xxxl Conteúdo 3
  .sc-p-xxxl Conteúdo 4
  .sc-p-xxxl Conteúdo 1
  .sc-p-xxxl Conteúdo 2
  .sc-p-xxxl Conteúdo 3
  .sc-p-xxxl Conteúdo 4
  .sc-p-xxxl Conteúdo 1
  .sc-p-xxxl Conteúdo 2
  .sc-p-xxxl Conteúdo 3
  .sc-p-xxxl Conteúdo 4
  .sc-p-xxxl Conteúdo 1
  .sc-p-xxxl Conteúdo 2
  .sc-p-xxxl Conteúdo 3
  .sc-p-xxxl Conteúdo 4
  .sc-p-xxxl Conteúdo 1
  .sc-p-xxxl Conteúdo 2
  .sc-p-xxxl Conteúdo 3
  .sc-p-xxxl Conteúdo 4
