$alturaTopMenu: 3.75em;
$larguraSideBar: 16.25em;
$fontSideBar: .8125em;

body {
  &.menu-opened {
    overflow: hidden;
    .sc-loading {
      left: calc(50% + #{($larguraSideBar / 1.5) / 2});
    }
  }
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.hide { display: none; }

.menu-icon {
  position: relative;
  width: 1.875em;
  height: 1.875em;
  transition:all .3s;
  transform:rotate(-180deg);
  span {
    height: .125em;
    width: 1.5em;
    background-color: #fff;
    position: absolute;
    transition:all .3s;
    &:nth-of-type(1) { top:  .375em; left: .1875em; }
    &:nth-of-type(2) { top: .8125em; left: .1875em; }
    &:nth-of-type(3) { top:  1.25em; left: .1875em; }
  }
  &.back {
    transform:rotate(0deg);
    span {
      &:nth-of-type(1) {
        top: .5em;
        left: 0;
        width: 1em;
        transform:rotate(-45deg);
      }
      &:nth-of-type(2) {
        top: .8125em;
        left: .1875em;
        width: 1.3em;
      }
      &:nth-of-type(3) {
        top: 1.125em;
        left: 0;
        width: 1em;
        transform:rotate(45deg);
      }
    }
  }
  &.close {
    transform:rotate(0deg);
    span {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        top:  .875em;
        left: .1875em;
        transform:rotate(-45deg);
      }
      &:nth-of-type(3) {
        top:  .875em;
        left: .1875em;
        transform:rotate(45deg);
      }
    }
  }
}

#header-bar {
  height: $alturaTopMenu;
  width: 100%;
  top: 0;
  background-color: #32648F;
  position: fixed;
  z-index: 100;
  .menu-action {
    flex: 0 0 4em;
    justify-content: center;
  }
  .logo {
    flex: 0 0 10em;
    img {display: block;}
  }
  .actions {
    flex: 1 1;
    justify-content: flex-end;
    align-self: stretch;
    .actions-icon {
      color: rgba(255,255,255,.7);
      i { font-size: 1.6em; }
      &:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.07);
      }
      &.active {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.20);
      }
    }
  }
}

#main-page {
  padding-top: $alturaTopMenu;
  align-items: stretch;
  flex: 1;
  #side-bar {
    font-size: $fontSideBar;
    background-color: #244560;
    flex: 0 0 #{$larguraSideBar / $fontSideBar}em;
    position: relative;
    z-index: 99;
    &, a {
      color: rgba(255,255,255,.75);
      text-decoration: none;
    }

    &.collapse {
      flex: 0 0 0;
      #side-bar-content {
        left: -#{$larguraSideBar / $fontSideBar}em;
      }
    }

    #side-bar-content {
      top: #{$alturaTopMenu / $fontSideBar}em;
      right: 0;
      bottom: 0;
      left: 0;
      width: #{$larguraSideBar / $fontSideBar}em;
      background-color: #244560;
      position: fixed;
      overflow-y: auto;
    }

    #perfil {
      background-color: rgba(0,0,0,.2);
      .photo {
        flex: 0 0 21%;
        justify-content: flex-end;
        padding: 1.1em 0;
        div {
          width: 3.3em;
          height: 3.3em;
          border-radius: 100%;
          background-size: cover;
          background-position: center;
        }
      }
      .info {
        flex: 0 0 79%;
        padding-left: 1em;
        font-size: .85em;
        line-height: 1.7em;
        .name { text-transform: uppercase; }
      }
      .actions {
        flex: 0 0 100%;
        a {
          flex: 0 0 50%;
          text-align: center;
          padding: .8em 0;
          background-color: rgba(0,0,0,.15);
          transition:all .2s;
          &:hover { color: #fff; }
          &:nth-of-type(1):hover { background-color: rgba(51,122,183,.5); }
          &:nth-of-type(2):hover { background-color: rgba(199,48,48,.6); }
        }
      }
    }

    #condominio {
      background-color: rgba(0,0,0,.2);
      .selected {
        flex: 0 0 100%;
        .logo {
          flex: 0 0 18%;
          justify-content: flex-end;
          padding: 1em 0;
          div {
            width: 2em;
            height: 2em;
            border-radius: 100%;
            background-size: contain;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow:0 0 0 1px #fff;
          }
        }
        .name {
          flex: 0 0 82%;
          padding: 0 1.3em 0 .65em;
          justify-content: space-between;
          text-transform: uppercase;
          // i { @include transition(all .3s); }
        }
        &:hover {
          color: #fff;
        }
      }
      .lista {
        flex: 0 0 100%;
        .search {
          background-color: rgba(0,0,0,.25);
          padding: .2em 1.5em;
          position: relative;
          input {
            display: block;
            border: none;
            border-radius: .3em;
            box-shadow: none;
            color: #fff;
            background-color: transparent;
            width: 100%;
            padding: .9em 1.5em .9em 0;
            &:focus, &:active { border: none; outline: none; box-shadow: none; }
            &::-webkit-input-placeholder { color: #fff; }
            &:-moz-placeholder           { color: #fff; }
            &::-moz-placeholder          { color: #fff; }
            &:-ms-input-placeholder      { color: #fff; }
          }
          > i {
            position: absolute;
            right: 1.3em;
            top: calc(50% - .5em);
          }
        }
        ul {
          max-height: 16.5em;
          overflow-y: auto;
          li {
            a {
              display: block;
              padding: .8em 1.6em;
              text-transform: uppercase;
              &:hover { color: #fff; }
            }
            &:nth-of-type(odd) { background-color: rgba(0,0,0,.1); }
          }
        }
      }
    }

    #side-menu {
      margin-top: 1.5em;
      margin-bottom: 2em;
      text-transform: uppercase;
      > ul {
        > li {
          border-bottom: 1px solid rgba(255,255,255,.05);
          &:nth-of-type(1) { border-top: 1px solid rgba(255,255,255,.05); }
          > a, > div {
            padding: 1em 1.6em;
            transition:background .4s;
            &:hover {
              background-color: rgba(0,0,0,.1);
              transition:background .1s;
              color: #fff;
            }
            i.icon-menu {
              width: 1.4em;
              height: 1.4em;
              line-height: 1.5em;
              font-size: 1.4em;
              margin-right: .5em;
              background: transparent;
              border-radius: 100%;
              text-align: center;
              transition:all .3s;
            }
            &.active, &.opened {
              background-color: rgba(0,0,0,.2);
              color: #fff;
            }
            &.active i.icon-menu {
              background: #fff;
              color: #1D374D;
            }
          }
          > div {
            position: relative;
            .icon-filhos {
              font-size: .7em;
              padding: 0;
              position: absolute;
              right: 2em;
              top: calc(50% - .35em);
              transition:all .3s;
            }
          }
          ul {
            li {
              a {
                padding: .9em 1.5em;
                i {
                  font-size: .5em;
                  margin-left: 1.7em;
                  padding-right: 1.5em;
                }
                &:hover {
                  background-color: rgba(0,0,0,.1);
                  transition:background .1s;
                  color: #fff;
                }
                &.active {
                  background-color: rgba(0,0,0,.2);
                  color: #fff;
                }
              }
            }
            &.opened { background-color: rgba(0,0,0,.2); }
          }
        }
      }
    }
  }

  #main-content {
    position: relative;
    z-index: 96;
    flex: 1;
    #top-bar {
      z-index: 97;
      position: relative;
      #top-bar-content {
        padding: .6em .8em;
        background-color: #f3f3f4;
        &.fix {
          position: fixed;
          top: $alturaTopMenu;
          right: 0;
          left: 0;
        }
        &.fixed {
          box-shadow:0 0 .3em rgba(0,0,0,.3);
        }
        &:after {
          content: '';
          clear: both;
          display: block;
        }
      }
    }
    #breadcrumb {
      color: #7d858c;
      font-size: 0.8em;
      padding: 0 1em .6em;
      background-color: #f3f3f4;
      border-bottom: 1px solid #D7D9DB;
    }
  }
}

.sc-notify-center {
  position: relative;
  .sc-notify-icon { height: $alturaTopMenu; }
  .sc-notify-notifications {
    line-height: normal;
    max-height: 28em;
    width: 20em;
    position: absolute;
    right: 0;
    overflow-y: auto;
    border-bottom-right-radius: .4em;
    border-bottom-left-radius: .4em;
    .sc-notify-list { text-shadow: none; }
    .sc-notify-img {
      width: 42px;
      float: left;
      text-align: center;
    }
    .sc-notify-item {
      overflow: auto;
      line-height: normal;
      display: block;
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .menu-opened {
    #main-page #main-content #top-bar #top-bar-content {
      &.fix { left: $larguraSideBar; }
    }
  }
  #header-bar, #top-bar, #top-bar-content, #side-bar, #side-bar-content {
    transition:all .25s;
  }
  .scrollbar {
    &::-webkit-scrollbar { width: .6em; }
    &::-webkit-scrollbar-track { border-radius: .8em; background: rgba(0,0,0,.2); }
    &::-webkit-scrollbar-thumb { border-radius: .8em; background: rgba(255,255,255,.6); }
    &::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,255,255,.3); }
  }
}

@media (max-width: 767px) {
  .overflow-hidden-menu { overflow: hidden; }
  #main-page {
    #side-bar {
      flex: 0 0 0;
      transition:none;
      #side-bar-content {
        transition:left .3s;
      }
    }
    .overlay-menu {
      z-index: 98;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(50,100,143,0.2);
    }
  }
}
